*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFE3E0;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    border: solid rgb(0, 0, 0) 3px;
}
header{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    background-color: #ff988a;
    border: gray 2px solid;
    margin-bottom: 3px;
    margin-top: 1px;
    padding: 20px;
}
#link_header{
    text-decoration: none;
    color: black;
}
h1{
    border-radius: 50px;
    width: 400px;
}
h1:hover{
    background-color: #ff8575;
}
h1:active{
    background-color: #ff6956;
}
main{
    background-color: #75df7e;
}
#placar{
    font-size: 35px;
    height: 80px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#placar h2{
    font-size: 45px;
}
#grid{
    height: 500px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 120px 120px 120px;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}
.square{
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
.square:hover{
    transition-delay: 50ms;
    background-color: rgb(231, 231, 231);
}
.square:active{
    transition-delay: 50ms;
    background-color: rgb(202, 202, 202);
}
#buttons{
    height: 100px;
    background-color: #75df7e;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@keyframes upButton{
    0% {border-bottom: gray 2px solid;}
    50% {border-bottom: black 2px solid;}
    100% {border-bottom: yellow 2px solid;}
}
#button_x:hover, #button_o:hover{
    animation-name: upButton;
    animation-duration: 1000ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
#button_x:active, #button_o:active{
    background-color: #d0eed1c2;
}
#button_x{
    width: 80px;
    height: 78px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/icns/X.png");
    margin-top: -15px;
}
#button_o{
    width: 80px;
    height: 78px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/icns/O.png");
    margin-top: -15px;
}
#reset{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: -10px;
    font-size: 30px;
    background-color: #ff988a;
    color: white;
    border-radius: 20px;
}
#reset:hover{
    background-color: #ff6e5b;
}
#reset:active{
    background-color: #ff7b69;
}
footer{
    background-color: #333745;
    color: rgb(218, 218, 218);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 82px;
    font-size: 10px;
}